<div class="heder">
    <div class="header-logo">
        <h2>ngAPP</h2>
    </div>
    <div class="header-links">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
        <a routerLink="/counter" routerLinkActive="active">Counter</a>
        <a routerLink="/courses" routerLinkActive="active">Courses</a>

    </div>
    <div class="heaer-auth-links">
        <a href="#">Login</a>
        <a href="#">Signup</a>
        <button class="logout-button">
            LOGOUT
        </button>

    </div>
</div>