.app-counter-button {
    margin-top: 20px;
}
.btn-increment {
    background-color: #76008e;
    color: white;
}

.btn-decrement {
    background-color: #ff0099;
    color: white;
}

.btn-reset {
    background-color: #282828;
    color: white;
}