@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
// @import "~@fortawesome/fontawesome-free/scss/fontawesome";
// @import "~@fortawesome/fontawesome-free/scss/solid";
// @import "~@fortawesome/fontawesome-free/scss/brands";

.icon {
  @extend .fa-solid !optional;
  @extend .fa-user !optional;
}

body {
  font-family: 'Roboto', sans-serif;
}
.icon {
//   @extend .fa-solid;
//   @extend .fa-user;
}

